/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @mixin bg {
//   height: 50vh;
//   width: 100vw;
//   background-color: aqua;
// }
